@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 700
*/

.cbu-logo {
  /* font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal; */
  color: #ddb100;
}

.cbu-accent-text {
  color: #ddb100;
}

.dancing-script-normal {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.bg-cbu {
  background-color: #ddb100;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
